<div class="bg-light px-5 text-right">
    <a routerLink="/admincomp">Add Products </a>
    <button class="btn btn-success float-end px-4 my-2" (click)="logout()">Logout</button>
</div>

<div class="container-fluid">
    <p class="display-4 text-secondary text-center mt-3">Products List</p>
    <div class="row mt-5">
        
                
                <div class="form-group mx-auto">
                    <table id="products">
                        <thead>
                            <th>Product name</th>
                            <th>Product ID</th>
                            <th>Product Colour</th>
                            <th>Mfd Date</th>
                            <th>Cost</th>
                            <th>Edit the details</th>
                            <th>Remove Item</th>
                        </thead>
                        <tr *ngFor="let p of products, let i=index">
                            <td>{{p.productname}}</td>
                            <td>{{p.productID}}</td>
                            <td>{{p.colour}}</td>
                            <td>{{p.mfddate}}</td>
                            <td>{{(p.cost)| currency:"INR"}}</td>
                            <td class="text-center"><button class="btn btn-success" (click)="edit(i)">edit</button></td>
                            <td class="text-center"><button class="btn btn-danger" (click)="delete(i)">delete</button></td>
                        </tr>
                    </table>
                </div>          
            
            
                
     
    </div>
</div>
