<h4 class="text-center text-success d-1">Welcome to {{title}}</h4>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
      <a class="navbar-brand" href="#">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" style="color:salmon" routerLink="user" routerLinkActive="active">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:salmon" routerLink="logincomp" routerLinkActive="active">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:salmon" routerLink="allproducts" routerLinkActive="active">Products</a>
          </li>
        </ul>
        
      </div>
    
  </nav>
  <!-- router-outlet -->
  <div>
    <router-outlet></router-outlet>
  </div>
  
  
  